<!-- all users can click to go to list of tours
# admin also has button to go to list of users -->

<%= if @current_user do %>
  <%= link "Tours", to: Routes.tour_path(@conn, :index), class: "btn btn-primary col-12" %>
<% end %>

<%= if @current_user && @current_user.admin do %>
  <%= link "Users", to: Routes.user_path(@conn, :index), class: "btn btn-danger col-12"  %>
  <%= link "Add User", to: Routes.user_path(@conn, :new), class: "btn btn-success col-12"  %>
<% end %>
